/*Josh's Custom CSS Reset. https://www.joshwcomeau.com/css/custom-css-reset/*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Google Fonts */

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.megrim {
  font-family: "Megrim", system-ui;
  font-weight: 500;
  font-style: normal;
}

.megrim-bold {
  font-family: "Megrim", system-ui;
  font-weight: bold;
  font-style: normal;
}

/* Google Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Root */
:root {
  --hellenic-blue: #0D5EAF;
  --greek-onyx: #353839;
  --athens-ochre: #a13d1f;
  --red-wine: #AC1E44;
  --tyrian-purple: #66023C;
}

/* Visualizer Stylings */

.page-wrapper {
  background-color: var(--hellenic-blue);
  display: grid;
  grid-template-columns: minmax(10.37rem, 1fr) 5fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
  height: 100%;
}

/* Sidebar Stylings */
.db-header {
  padding: 0.5rem 0.3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

#logo {
  fill: #0D5EAF;
  height: 3rem;
  width: 2rem;
}

.sidebar {
  display: grid;
  background-color: #F5EAE0;
  grid-column: 1 / 2;
  grid-row: 1 / 11;
  grid-template-rows: 4rem 1.3fr 1fr;
  /* border: 8px double var(--hellenic-blue); */
}

.cap-em {
  font-weight: 600;
  color: var(--hellenic-blue);
}

.sb-nav-icon {
  height: 1.5rem;
  fill: var(--hellenic-blue);
}

.sb-nav-link {
  display: grid;
  padding: 0.4rem 0.5rem;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: start;
}

.sb-nav-link:hover {
  background-color: var(--hellenic-blue);
  color: #FFFFFF;
  font-weight: 500;
}
.sb-nav-link:hover .sb-nav-icon{
  fill: #FFFFFF;
}

.main {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

/* Header Stylings */
.header {
  background-color: aquamarine;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: minmax(min-content, 4.5fr) repeat(2, min-content) 1fr;
  grid-template-rows: 1fr;
  gap: 0.313rem;
}

.search-container {
  display: flex;
  padding: 0.625rem 0rem;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

#search {
  border-radius: 0.5rem;
  width: 75%;
  border: none;
  text-align: left;
  padding-left: 0.3rem;
}
#search:focus {
  border: 2px solid cyan;
}
.hd-search-icon {
  margin: 0.2rem 0.5rem;
}

.hd-nav-icon {
  height: 1.9rem;
  fill: var(--hellenic-blue);
}

.notifcation-container {
  width: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.hd-profile-container {
  display: grid;
  width: 4rem;
  padding: 0.313rem;
}

.profile-pic-sm {
  background-color: var(--athens-ochre);
  border: double 3px var(--greek-onyx);
  height: 3rem;
  width: 3rem;
  align-self: center;
  justify-self: center;
}

.hd-user-container {
  display: flex;
  min-width: 12.5rem;
  padding: 0.313rem;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}

/* Profile Bar Stylings */
.profile-bar {
  display: grid;
  grid-template-areas: 
  "pfp greeting greeting"
  "pfp user user"
  ;
  /* grid-template-rows: 1fr; */
}

.profile-pic-lg {
  grid-area: pfp;
  background-color: var(--athens-ochre);
  border: double 6px var(--greek-onyx);
  height: 4.5rem;
  width: 4.5rem;
  align-self: center;
  justify-self: center;
  margin-left: -1rem;
  margin-right: -1rem;
  /* width: 38.807rem; */
}
.profile-greeting {
  grid-area: greeting;
  font-style: italic;
  font-weight: 400;
}
.profile-user {
  grid-area: user;
}
.profile-user-handle {
  color: var(--hellenic-blue);
}

/* Button Bar Stylings */

.article {
  background-color: orange;
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.card {
  background-color: #fff;
  border: solid 1px salmon;
}
